src/main/mule/dynamic-producer-flow-template.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="61ed4c3a-1ac9-4324-91d3-229927e17a98" />
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="bed618b2-5141-4ec7-96ed-2d27ffbcddc0" />
	<http:request-config name="HTTP_RequestJWT_configuration" doc:name="HTTP Request configuration" doc:id="5cc44030-1413-497e-b4da-d583739da0a2" basePath="//s/SiteGenesis/dw/shop/v20_4" >
		<http:request-connection protocol="HTTPS" host="staging-functional37-qa.demandware.net" port="443" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration2" doc:name="HTTP Request configuration" doc:id="18b9ad1b-f9c4-4e58-9ee4-74f226f8944a" basePath="//s/SiteGenesis/dw/shop/v20_4/products" >
		<http:request-connection protocol="HTTPS" host="staging-functional37-qa.demandware.net" port="443" />
	</http:request-config>
	<flow name="dynamic-producer-flow-templateFlow" doc:id="291bbeb2-f0fa-4ce5-a59f-2b325e4e53e2" >
		<http:request method="POST" doc:name="Request_ShopperJWT" doc:id="98922b33-3127-420b-8c65-a3022f831102" config-ref="HTTP_RequestJWT_configuration" path="/customers/auth">
			<http:body><![CDATA[{
	"type": "guest"
}]]></http:body>
			<http:headers><![CDATA[#[output application/java
---
{
	"_sfdc_mercury" : "1"
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	"client_id" : payload.parts[2].content
}]]]></http:query-params>
		</http:request>
		<http:request method="GET" doc:name="Request" doc:id="64171939-e46f-4f3a-87ac-9f0fc0f0590c" config-ref="HTTP_Request_configuration2" path="/(mitsubishi-lt-40148,mitsubishi-lt-46149)">
			<http:headers ><![CDATA[#[{
	"Authorization": attributes.headers.Authorization
}]]]></http:headers>
		</http:request>
	</flow>
</mule>
